<!DOCTYPE html>

<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>Mercado Dibre</title>
    </head>

    <body>
        <h1>Mercado Dibre</h1>

        <div class='container'>
            {% for x in obj %}
            <div class='row'>
                <div class='com-lg-5 col-mg-5 col-12'>
                    {{x.nomeProduto}}
                </div>
                <div class='com-lg-5 col-mg-5 col-12'>
                    {{x.valorProduto}}
                </div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>
